/* @import 'https://unpkg.com/bulma-prefers-dark'; */
body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

textarea {
    height: 80px !important;
    resize: none;
}